.burger {
	display: none;
	position: relative;
	width: 30px;
	height: 20px;
	z-index: 2;
	cursor: pointer;
}

.burger__element {
	width: 100%;
	height: 2px;
	position: absolute;
	top: 9px;
	left: 0;
	background-color: #fff;
	
}

.burger:before,
.burger:after {
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;

	background-color: #fff;
	transition: .3s;
	content: '';
}

.burger:before { top: 0; }
.burger:after { bottom: 0; }


.burger.active:before {
	transform: rotate(45deg);
	top: 9px;
}

.burger.active:after {
	transform: rotate(-45deg);
	bottom: 9px;
}

.burger.active .burger__element {
	display: none;
}